.makeStyles-root-1 > * {
    width: 100% !important;
    margin: 8px !important;
    
}

.makeStyles-root-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MuiGrid-container {
    /* width: 100% !important; */
    display: flex !important;
    flex-wrap: wrap !important;
    box-sizing: border-box !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}

div[role="group"] button {
    overflow: hidden !important;
}